<!DOCTYPE html>
<html>
<head>
<title>Erreur</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background-color: #1AA1CC;
        font-family:'Open Sans', sans-serif;
    }
</style>
</head>
<body>
<h1>Impossible d'afficher la ressource (erreur 500).</h1>
<p>La page recherchée est actuellement introuvable.<br/>
Merci de réessayer ultérieurement.</p>
<p></p>
<p><em><a href="http://{{ laclasse_main_domain }}">Retourner à l'accueil de laclasse version 3</a></em></p>
</body>
</html>
